@{
    Layout = Layout;
    var title = ViewBag.StatusCode;
    var message = ViewBag.Message;
}


<div>
    <h1>@title</h1>
    <p><strong>@message</strong></p>

    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <hr />
        <p>@ViewBag.StackTrace</p>
    }
</div>

